Техническое задание
Разработать программу, позволяющую шифровать текст с использованием шифра Цезаря.

Программа должна потдерживать несколько режимов работы:
1) Шифровка текста с помощью ключа
2) Расшифровка текста с помощью ключа
3) Расшифровка текста с помощью brute force

- программа должна открывать указанный пользователям файл с текстом
- проделывать с ним одно из указанных выше действий
- после этого создавать новый файл с результатом
- обеспечивать обработку больших файлов - Значит читаем через буфер
- иметь валидацию входных данных

файлы .txt

Опционально:
- добавить графический интерфейс пользователя
- расшифровка с помощью статического анализа